<div>
  <header>
    <h1>Displaying data from Mongo</h1>
  </header>
  <span class="fa fa-apple bg-fade"></span>
  <div class="jumbotron">

    <div class="col-sm-5">
      <h3>Seasonal Fruits</h3>
      <label>
        <input type="checkbox" ng-model="$parent.citrus" />
        Show only citrus fruits
      </label>
    </div>
  	
    <ul class="fruits">
	    <li ng-repeat="fruit in fruits" class="liFruits">
	    	<button class="delete" ng-click="fruits.remove(fruit)">&times;</button>
	      <span class="text">{{fruit.text}}</span>
        <span class="pull-right">- {{fruit.username}}</span>
	    </li>
	  </ul>

	  <form class="new-task" ng-submit="addFruit(newFruit); newFruit='';">
      <input type="text" name="text" placeholder="Type to add more fruits" ng-model="newFruit" />
    </form>
  </div>
</div>